<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login - Customer Feedback</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="card">

    <h1>Customer Feedback</h1>

    <h2>Login</h2>

    <div class="success"
         th:if="${param.registered}">
        Registration successful. Please login.
    </div>

    <div class="success"
         th:if="${param.logout}">
        You have been logged out.
    </div>

    <div class="error"
         th:if="${param.error}">
        Invalid email or password.
    </div>

    <form th:action="@{/login}" method="post">

        <!-- CSRF Token -->
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">

        <label>Email</label>

        <input type="email"
               name="username"
               required>

        <label>Password</label>

        <input type="password"
               name="password"
               required>

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        New user?
        <a th:href="@{/register}">
            Create account
        </a>
    </p>

    <p class="hint">
        Admin: admin@gmail.com / admin123
    </p>

</div>

</body>
</html>